.container
	.row
		.col.s12
			ul.collapsible(data-collapsible='expandable')
				li
					.collapsible-header
						span.ion.ion-information
						b Basic information
					.collapsible-body
						span ...
				li
					.collapsible-header
						span.ion.ion-eye
						b Watch mode
					.collapsible-body
						span ...
				li
					.collapsible-header
						span.ion.ion-pinpoint
						b Babel, Browserify and Watchify
					.collapsible-body
						span ...
				li
					.collapsible-header
						span.ion.ion-code
						b Other processors
					.collapsible-body
						span ...
