<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
		<title><%=title%></title>
	</head>
	<body>
		<h2><%=author%></h2>
		<ul>
			<% for(var people of peoples){%>
				<li><%=people%></li>
			<%}%>
		</ul>
		<script type="text/template" src="modules/templates/test.html" name="template_test"></script>
		<%- include('modules/footer') %>
	</body>
</html>