doctype html
html(lang="en")
	head
		include ./pugs/meta.pug
		title Build Config Generator
		include ./pugs/stylesheets.pug
	body
		include ./pugs/navbar.pug
		include ./pugs/main.pug
		include ./pugs/scripts.pug
